{% load i18n adminmedia fb_tags fb_versions %}

{% for fileobject in page.object_list %}
    
    <!-- THUMBNAIL-VERSION FOR IMAGE-OBJECT -->
    {% if fileobject.filetype == "Image" %}
        {% version_object fileobject settings_var.ADMIN_THUMBNAIL as thumbnail_version %}
    {% endif %}
    
    <tr class="{% cycle 'row1' 'row2' %}{% if fileobject.filetype == "Folder" %} fb_folder{% endif %}">
        
        <!-- FILESELECT FOR FILEBROWSEFIELD -->
        {% if query.pop == "1" and results_var.select_total %}
            <td class="fb_icon">
                {% selectable fileobject.filetype query.type %}
                {% if selectable %}
                    <button class="button fb_selectlink" onclick="FileSubmit('{{ fileobject.url_save }}', '{{ fileobject.url_thumbnail }}', '{{ fileobject.filetype }}');">{% trans "Select" %}</button>
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
        {% endif %}
        
        <!-- FILESELECT FOR RTE/TINYMCE -->
        {% if query.pop == "2" and results_var.select_total %}
            <td class="fb_icon">
                {% selectable fileobject.filetype query.type %}
                {% if selectable %}
                    <button class="button fb_selectlink" onclick="FileBrowserDialogue.fileSubmit('{{ fileobject.url_save|escapejs }}');">{% trans "Select" %}</button>
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
        {% endif %}
        
        <!-- FILESELECT FOR CKEDITOR (FORMER "FCKEDITOR") -->
        {% if query.pop == "3" and results_var.select_total %}
            <td class="fb_icon">
                {% selectable fileobject.filetype query.type %}
                {% if selectable %}
                    <button class="button fb_selectlink" onclick="OpenFile(ProtectPath('{{ fileobject.url_save|escapejs }}'));return false;">{% trans "Select" %}</button>
                {% else %}
                    &nbsp;
                {% endif %}
            </td>
        {% endif %}
        
        <!-- FILEICON -->
        <td>
            <img src="{{ settings_var.URL_FILEBROWSER_MEDIA }}img/filebrowser_type_{{ fileobject.filetype|lower }}.gif" />
        </td>
        
        <!-- THUMBNAIL -->
        <td class="fb_thumbnail">
            {% if fileobject.filetype == "Image" %}
                <a href="{{ fileobject.url_full }}" class="fb_viewlink"><img src="{% version fileobject.path settings_var.ADMIN_THUMBNAIL %}" title="{% trans 'View Image' %}" /></a>
            {% endif %}
        </td>
        
        <!-- FILENAME/DIMENSIONS -->
        {% if fileobject.filetype == "Folder" %}
            <td><a href="{% url filebrowser:fb_browse %}{% query_string "" "q,dir,p" %}&amp;dir={{ fileobject.path_relative_directory|urlencode }}"><strong>{{ fileobject.filename }}</strong></a></td>
        {% else %}
            <td>
                <b><a href="{{ fileobject.url_full }}">{{ fileobject.filename }}</a></b>
                {% if fileobject.dimensions %}
                    <br /><span class="tiny">{{ fileobject.dimensions.0 }} x {{ fileobject.dimensions.1 }} px</span><br clear="all" />
                {% endif %}
                {% comment %}
                {% if fileobject.filetype == "Image" %}
                    <a class="preview fb_showpreview" href="javascript://" title="{% trans 'Preview' %}">{% trans 'Preview' %}</a>
                    <div class="fb_preview_container">
                        <a href="{{ fileobject.url_full }}" class="fb_view_image external" target="_blank"><span>{% trans 'View Image' %}</span><img src="{% version fileobject.path settings_var.PREVIEW_VERSION %}" title="{% trans 'View Image' %}" class="fb_preview" /></a>
                    </div>
                {% endif %}
                {% endcomment %}
                {% if results_var.images_total and settings_var.ADMIN_VERSIONS and fileobject.filetype == "Image" %}
                    <a class="internal fb_showversions" href="{% url filebrowser:fb_versions %}{% query_string "" "p" %}&amp;filename={{ fileobject.filename }}" title="{% trans 'Versions' %}">{% trans 'Versions' %}</a>
                {% endif %}
            </td>
        {% endif %}

          
        <!-- SIZE -->
        <td>{{ fileobject.filesize|filesizeformat }}</td>
        
        <!-- DATE -->
        <td>{{ fileobject.datetime|date:"N j, Y" }}</td>
        
        <!-- EDIT -->
        <td>
            <ul class="fb_actions">
                <li class="change-link"><a href="{% url filebrowser:fb_detail %}{% query_string "" "p" %}&amp;filename={{ fileobject.filename|urlencode }}"><strong>{% trans "Change" %}</strong></a></li>
            </ul>
        </td>

        <!-- DELETE -->
        {% if results_var.delete_total %}
        <td class="fb_icon">
          {% ifnotequal fileobject.filetype 'Folder' %}
          <a href="{% url filebrowser:fb_delete %}{% query_string %}&amp;filename={{ fileobject.filename }}&amp;filetype={{ fileobject.filetype }}" class="fb_deletelink" onclick="return confirm('{% trans "Are you sure you want to delete this file?" %}');" title="{% trans 'Delete File' %}"><img src="{{ settings_var.URL_FILEBROWSER_MEDIA }}img/filebrowser_icon_delete.gif" /></a>
          {% else %}
          {% if fileobject.is_empty %}
          <a href="{% url filebrowser:fb_delete %}{% query_string %}&amp;filename={{ fileobject.filename }}&amp;filetype={{ fileobject.filetype }}" class="fb_deletelink" onclick="return confirm('{% trans "Are you sure you want to delete this Folder?" %}');" title="{% trans 'Delete Folder' %}"><img src="{{ settings_var.URL_FILEBROWSER_MEDIA }}img/filebrowser_icon_delete.gif" /></a>
          {% endif %}
          {% endifnotequal %}
        </td>
        {% endif %}
        
        <!-- DEBUG -->
        {% if settings_var.DEBUG %}
        <td>
            <strong>Filename</strong> {{ fileobject.filename }}<br />
            <strong>Filetype</strong> {{ fileobject.filetype }}<br />
            <strong>Filesize</strong> {{ fileobject.filesize }}<br />
            <strong>Extension</strong> {{ fileobject.extension }}<br />
            <strong>Date</strong> {{ fileobject.date }}<br />
            <strong>Datetime Object</strong> {{ fileobject.datetime }}<br /><br />
            <strong>Relative Path</strong> {{ fileobject.path_relative }}<br />
            <strong>Full Path</strong> {{ fileobject.path_full }}<br />
            <strong>Relative URL</strong> {{ fileobject.url_relative }}<br />
            <strong>Full URL</strong> {{ fileobject.url_full }}<br /><br />
            <strong>URL for FileBrowseField</strong> {{ fileobject.url_save }}<br />
            <strong>Thumbnail URL</strong> {{ fileobject.url_thumbnail }}
            {% if fileobject.filetype == "Image" %}
                <br /><br />
                <strong>Dimensions</strong> {{ fileobject.dimensions }}<br />
                <strong>Width</strong> {{ fileobject.width }}<br />
                <strong>Height</strong> {{ fileobject.height }}<br />
                <strong>Orientation</strong> {{ fileobject.orientation }}
            {% endif %}
            {% if fileobject.filetype == "Folder" %}
                <br /><br />
                <strong>Is Empty</strong> {{ fileobject.is_empty }}
            {% endif %}
        </td>
        {% endif %}
        
    </tr>
{% endfor %}

 
